parameters:
    level: max
    paths:
        - src
    checkBenevolentUnionTypes: true
    # ignoreErrors:
    #     -
    #         identifier: missingType.generics
    editorUrl: '=>'
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
